body { margin-top: 20px; margin-left: 20px; background: rgb(231, 229, 229);}
h1 { color: #000000; font-family: Verdana; font-weight: bold; font-size: 32px; margin: 0 0 16px;
    @keyframes bckgrdanim
        from {background-color: gray;}
        to {background-color: rgb(rgb(201, 52, 52), rgb(39, 45, 59), rgb(37, 37, 51));}
        
        }
h2 { color: #4f2fb6; font-family: Verdana; font-weight: bold; font-size: 28px; margin: 0 0 8px;}
h3 { color: #000000; font-family: Verdana; font-weight: bold; font-size: 20px; margin: 0 0 8px;}
h4 { color: #000000; font-family: Verdana; font-weight: bold; font-size: 16px; margin: 0 0 8px;}
li { color: #000000; font-family: Verdana; font-size: 16px; margin: 0 0 8px;}
p { font-family: Verdana; font-size: 16px; margin: 0 0 8px;}
a { font-family: Verdana; color: rgb(221, 94, 20); background: rgb(231, 229, 229); text-transform: uppercase; text-align: center; text-decoration: none; }
div {
    transition-delay: 1s;
    animation-name: bckgrdanim;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  }
  
  @keyframes bckgrdanim {
      from {background-color: gray;}
      to {background-color: rgb(rgb(110, 99, 99), rgb(39, 45, 59), rgb(37, 37, 51));}
      
    }
  
    div {
      font-size: 32px;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 0s;
  
    }
    #delay:hover {
    font-size: 36px;
  }